.loading {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px 16px #000000;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {font-size: 40px;}
}